.resumen {
  margin: 0px;
  margin-left: 94px;
  padding: 0px;
  height: 1211px;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0px;
    margin-bottom: 29px;
    padding: 0px;
    width: 451px;
    height: 59px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 59px;
    color: #000000;
  }

  &-stats {
    height: 566px;
    background: #ffffff;
    mix-blend-mode: normal;
    border: 5px solid #ff3c82;
    border-radius: 61px;
    &__table {
      overflow-x: hidden;
      overflow-y: auto;
      border-collapse: collapse;
      th,
      td {
        text-align: center;
        border: 1px solid black;
        width: 258px;

        a {
          color: #69a6ce;
          text-decoration: none;
          max-width: max-content;
          &:hover {
            border: 1.5px solid black;
            border-bottom: 2px solid black;
            outline: 0.1px solid black;
          }
        }

        p {
          cursor: pointer;
          margin: 0px;
          padding: 0px;
          display: inline;
          width: min-content;
          &:hover {
            border: 1.5px solid black;
            border-bottom: 2px solid black;
            outline: 0.1px solid black;
          }
        }
      }
    }

    &-total {
      margin: 0px;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 8px;

      &__attribute {
        font-size: 14px;
        margin: 0px;
        max-width: min-content;
      }

      p {
        max-width: min-content;
      }
    }
  }
}
