.collection {

  &__banner {
    margin: 0;
    padding: 0;
    
    img {
      height: 135px;
      width: 100%;
    }
  }

  &__title {
    font-size: 46px;
    padding: 0 16px;
  }

  &__description 
  {
    font-size: 16px;
    line-height: 22.5px;
    padding: 0 16px;
    width: 70%;
  }

  &__subtitle {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 24px;
    padding: 0 16px;
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 24px;

    &__card { 
      cursor: pointer;
      margin-top: 10px;
      border-radius: 6px;
      height: 431px;
      width: 295px; 
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

      figure {
        margin: 0px;
        padding: 0px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        height: 300px;
        overflow: hidden;

        img {
          width: 295px; 
          height: 295px;
          transition: transform .3s ease;
  
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    &__description {
      width: 271px;
      height: 112px;
      margin: 12px;
    }

    &__buy {
      position: relative;
      left: 30%;
      display: flex;
      align-content: center;
      justify-content: center;
      max-width: max-content;
      margin: 0;
      padding: 0;

      a {
        display: inline-block;
        text-decoration: none;
        border: 2px solid #69a6ce;
        color: #69a6ce;
        padding: 10px 25px;
        border-radius: 25px;
        transition: all 0.35s ease;
        
        &:hover{
          background: #69a6ce;
          color: #fff;
        }
      }
    }
  }

  &-container__loading {
    margin-top: 160px;
    margin-bottom: 160px;
    height: auto;
    width: auto;
  }
}