@import url('https://fonts.googleapis.com/css2?family=Finlandica&family=Roboto:wght@100&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  width: 100%;
}
html,
body {
  background: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  color: #212121;
  font-family: 'M PLUS Rounded 1c';
  font-weight: 250;
  letter-spacing: -0.4px;
}

