main {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
  max-height: max-content;
  width: 100%;
  .main__container {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 97%;
  }
}