.home {

  &-definition {
    margin: 0px;
    margin-top: 87px;
    padding: 0px;

    height: 615px;
    display: flex;
    align-items: center;
    gap: 107px;

    figure {
      margin: 0px;
      margin-right: 122.67px;
      padding: 0px;
      height: 541px;
      width: 489.33px;
      img {
        height: 541px;
        width: 489.33px;
      }
    }

    &-description {
      margin-left: 60px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__title {
        margin: 0px;
        padding: 0px;
        margin-bottom: 47px;
        width: 485px;
        height: 198px;
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 110%;
        &::first-line {
          color: #ff3c82;
        }
        color: rgba(146, 3, 241, 1);
      }

      &__description {
        margin: 0px;
        padding: 0px;
        width: 564px;
        height: 236px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
      }
    }
  }

  &-snapshot {
    margin-top: 80px;
    height: 615px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__subtitle {
      padding: 0px;
      width: 344px;
      height: 36px;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      color: #000000;
    }

    &__title {
      margin: 0px;
      margin-bottom: 21px;
      padding: 0px;
      width: 458px;
      height: 59px;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 59px;
    }

    &__vector {
      margin: 0px;
      padding: 0px;
      margin-bottom: 74px;
      width: 229.5px;
      border: 5px solid #ff3c82;
      border-radius: 5px;
      background-color: #ff3c82;
    }
  }

  &-gallery {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container {
      margin: 0 100px;
      margin-bottom: 60px;
      height: 250px;
      width: 1240px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      figure {
        margin: 0px;
        padding: 0px;
        width: 250px;
        height: 250px;

        img {
          width: 250px;
          height: 250px;
          border-radius: 40px;
        }
      }
    }
  }

  &-phrase {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 319px;
    background: #9203f1;

    h2 {
      font-style: normal;
      font-weight: 800;
      font-size: 60px;
      line-height: 89px;
      color: #ffffff;
    }
  }

  &-apply {
    height: 467px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-container {
      margin-left: 60px;
      width: 350px;

      figure {
        margin: 0px;
        padding: 0px;
        height: 350px;


        img {
          height: 350px;
          width: 350px;
          border-radius: 50%;
        }
      }
    }

    &-description {
      margin-right: 67px;
      height: 350px;
      width: 674px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__subtitle {
        margin: 0px;
        padding: 0px;
        width: 522px;
        height: 48px;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        color: #000000;
      }

      &__title {
        margin: 0px;
        margin-bottom: 49px;
        padding: 0px;
        width: 674px;
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 110%;
        color: #000000;
      }
    }
  }

  &-members {
    height: 549px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin: 0px;
      margin-top: 17px;
      margin-bottom: 17px;
      padding: 0px;
      height: 59px;
      text-align: center;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 59px;
      color: #000000;
    }

    &__vector {
      margin: 0px;
      margin-bottom: 102px;
      padding: 0px;
      width: 229.5px;
      height: 0px;
      border: 5px solid #FF3C82;
      border-radius: 5px;
      background-color: #FF3C82;
    }

    &__container {
      margin: 0 128px;
      margin-bottom: 96px;
      padding: 0;
      height: 252px;
      width: 1188px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      figure {
        margin: 0px;
        padding: 0px;
        width: 250px;
        height: 250px;

        img {
          width: 252px;
          height: 252px;
          border-radius: 50%;
        }
      }
    }
  }
}
