.collection-cards {
  margin-left: 81;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .collection-cards {
    margin-left: 81;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 42px;
    align-items: center;
    justify-items: center;
  }
}

//web
@media screen and (min-width: 64em) {
  .collection-cards {
    margin-left: 81;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10.5px;
    align-items: center;
    justify-items: center;
  }
}