.project-card {
  position: relative;
  margin-top: 10px;
  border-radius: 6px;
  width: 431px;
  height: 295px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

  figure {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 100%;
    overflow: hidden;

    &:hover {
      opacity:0.4 !important;
      p {
        display: flex;
        font-weight: bold;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }

    p {
      position: absolute;
      bottom: 0px;
      display: none;
    }
  }
}
